{% if error %}
	<div class="notification is-danger">
	  {{ error }}
	</div>
{% else %}
	<article class="message {% if hotdog %}is-success{% else %}is-danger{% endif %}">
		<div class="message-header">
			<p>{{ title }}</p>
		</div>
		<div class="message-body">
			<div class="columns">
				<div class="column">
					<figure class="image has-text-centered">
						<img src="data:image/{{ type }};base64,{{ base64 }}">
					</figure>
				</div>
				<div class="column">
					{{ description| raw }}
				</div>
			</div>
		</div>
	</article>

{% endif %}